@import url("base-styles.css");


#snap-screenshot {
  min-width: 360px;
  min-height: 169px;
  width: 60vw;
  margin: 9px;
}

@media screen and (min-width: 768px) {
 #snap-screenshot {
  float: right;
  max-width: 40vw;
 }
}