@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Sofia+Sans&display=swap');

@font-face {
  font-family: 'Paragraph';
  src: url('/assets/fonts/IBMPlexMono-Medium.ttf');
}

:root {
  --primary-text-color: rgb(80, 80, 255);
  --light-text-color: rgb(240, 240, 240);
  --medium-text-color: rgb(120, 120, 120);
  --dark-text-color: rgb(40, 40, 40);
  --primary-bg-color: rgb(40, 40, 40);
  --active-primary-bg-color: rgb(50, 50, 50);
  --dark-bg-color: rgb(20, 20, 20);
  --secondary-bg-color: rgb(80, 80, 80);
  --secondary-text-color: rgb(60, 60, 60);
  --light-bg-color: rgb(100, 100, 100);
  scroll-behavior: smooth;
}

body, h1, h2 {
    margin: 0;
}

body, a {
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-text-color);
}

body {
  background-color: var(--primary-bg-color);
}

@media screen and (min-width: 992px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
    background-color: var(--primary-text-color);
  }
}

header, section, nav, footer {
  background-color: var(--primary-bg-color);
}

p {
  font-family: 'Sofia Sans', sans-serif;
}

h2 {
  font-size: medium;
}

/* Color classes */
.light-bg-color {
  background-color: var(--light-bg-color);
}

.primary-bg-color {
  background-color: var(--primary-bg-color);
}

.medium-text-color {
  color: var(--medium-text-color);
}

.dark-text-color {
  color: var(--dark-text-color);
}

.dark-bg-color {
  background-color: var(--dark-bg-color);
}

/* Shapes */

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-bottom: 15px solid var(--primary-text-color);

  margin: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

.arrow-down {
  margin: 5px;
  margin-bottom: 0px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-top: 15px solid var(--primary-text-color);
  
  margin: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}


/* Header */

header {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

header h1 {
  color: var(--light-text-color);
  font-size: 50px;
}

header h2 {
  font-size: 30px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 25vh;
  padding: 10px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--secondary-bg-color);
  border-top: 2px solid var(--secondary-bg-color);
}

footer a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

footer a:hover {
  text-decoration: underline;
}

/* Specialty */
.data {
  display: none;
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}

.social-media-box {
  /*position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);*/
  min-width: 50%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soc-media-placeholder {
  background-color: var(--secondary-text-color);
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.accordion, .nav-button {
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  background-color: var(--primary-bg-color);
  color: var(--medium-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

.active {
  background-color: var(--active-primary-bg-color);
  color: var(--primary-text-color);
}

.accordion:hover, .nav-button:hover {
  background-color: var(--active-primary-bg-color);
}

.panel {
  padding: 0px 9px 9px 9px;
  background-color: var(--active-primary-bg-color);
  color: var(--medium-text-color);
  font-size: medium;
  display: none;
  overflow: hidden;
}

.hidden {
  display: none;
}

.resource-card {
  background-color: var(--secondary-text-color);
  width: fit-content;
  flex-grow: 1;
  min-width: 280px;
  padding: 10px 20px;
  margin: 10px 20px;
}

.resource-card p {
  margin: 0 0 10px 0;
}

.resource-card img {
  display: block;
  width: 120px;
}

.image-item-card {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  width: fit-content;
  padding-right: 8px;
  flex-basis: 300px;
}

.item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 40px;
}

.horz-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.preview-expand {
  max-height: 200px;
  overflow: hidden;
}

.preview-expand-tab {
  cursor: pointer;
  text-align: end;
}