@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Sofia+Sans&display=swap');

@font-face {
  font-family: 'Paragraph';
  src: url('/assets/fonts/IBMPlexMono-Medium.ttf');
}

:root {
  --primary-text-color: rgb(80, 80, 255);
  --light-text-color: rgb(240, 240, 240);
  --dark-text-color: rgb(120, 120, 120);
  --primary-bg-color: rgb(40, 40, 40);
  --active-primary-bg-color: rgb(50, 50, 50);
  --secondary-bg-color: rgb(80, 80, 80);
  --secondary-text-color: rgb(60, 60, 60);
  scroll-behavior: smooth;
}

body, h1, h2 {
    margin: 0;
}

body, a {
    font-family: 'Orbitron', sans-serif;
    color: var(--primary-text-color);
}

body {
  background-color: var(--primary-bg-color);
}

p {
  font-family: 'Sofia Sans', sans-serif;
}

h2 {
  font-size: medium;
}

.data {
  display: none;
  overflow: hidden;
}

.button {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  text-decoration: none;
}

.button:hover {
  background-color: var(--primary-text-color);
  color: var(--primary-bg-color);
}

header {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

header h1 {
  color: var(--light-text-color);
  font-size: 50px;
}

header h2 {
  font-size: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 25vh;
  padding: 10px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--secondary-bg-color);
  border-top: 2px solid var(--secondary-bg-color);
}

footer a {
  text-decoration: none;
  color: rgb(80, 80, 80);
}

footer a:hover {
  text-decoration: underline;
}

.social-media-box {
  /*position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0%);*/
  min-width: 50%;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.soc-media-placeholder {
  background-color: var(--secondary-text-color);
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  margin: 5px;
}

.accordion {
  font-family: 'Orbitron', sans-serif;
  font-size: medium;
  background-color: var(--primary-bg-color);
  color: var(--dark-text-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
}

.active {
  background-color: var(--active-primary-bg-color);
  color: rgb(80, 80, 255);;
}

.accordion:hover {
  background-color: var(--active-primary-bg-color);
}

.panel {
  padding: 0px 9px 9px 9px;
  background-color: var(--active-primary-bg-color);
  color: var(--dark-text-color);
  font-size: medium;
  display: none;
  overflow: hidden;
}

.resource-card {
  background-color: var(--secondary-text-color);
  width: fit-content;
  flex-grow: 1;
  min-width: 280px;
  padding: 10px 20px;
  margin: 10px 20px;
}

.resource-card p {
  margin: 0 0 10px 0;
}

.item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 40px;
}

.horz-flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}