@import url("cs1-2.css");

/*********** Calendar styles *************/
header {
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#calendar-container {
  position: relative;
}

.month {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-bg-color);
  padding: 5px;
  top: 0px;
}

.lesson-month {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
  top: 0px;
}

@media screen and (min-width: 740px) {
  .month {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
  .lesson-month {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}

.unit, .no-school, .empty-lesson, .new-unit-button {
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 4px;
  margin-top: 31px;
  padding: 4px;
  min-height: calc(20vh - 31px);
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
}

.lesson-grid {
  display: grid;
}

.lesson, .empty-lesson, .new-lesson-button {
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 4px;
  /*min-height: calc(20vh - 62px);*/
  margin: 4px;
}

.lesson {
  border: 1px solid;
  white-space: normal;
  overflow: hidden;
}

.progress-bar {
  min-height: 12px;
  background-color: white;
  color: var(--primary-text-color);
  max-width: 40%;
  font-size: small;
  white-space: nowrap;
  overflow: hidden;
}

.no-school {
  background-color: inherit;
}

.empty-lesson {
  background-color: inherit;
}

.unit {
  background-color:cornflowerblue;
  display: flex;
  flex-direction: column;
}

.unit  a, .unit  a:visited {
  color: white;
  text-decoration: none;
}

.unit > a:hover {
  text-decoration: underline;
}

.new-unit-button, .new-lesson-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
  color: var(--primary-bg-color);
  transition: 100ms linear;
}

.new-lesson-button {
  color: white;
}

.new-unit-button:hover {
  color: white;
  border: 2px solid ;
  cursor: pointer;
}

.date {
  color: var(--light-text-color);
  border-right: 1px solid var(--light-bg-color);
  margin: 4px;
  padding: 8px;
}

.day-name {
  color: var(--light-text-color);
  margin: 8px;
  padding: 8px;
}

.day {
  min-height: 20vh;
  margin: 2px;
  border: 1px solid var(--light-bg-color);
}

.day h3 {
  font-size: small;
  margin: 0px;
  padding: 4px 0px;
  overflow: hidden;
  border-bottom: 1px solid var(--light-bg-color);
}

.day p {
  font-size: x-small;
  font-family: "Paragraph";
}