@import url("cs1-2.css");

/*********** Calendar styles *************/
header {
  box-sizing: border-box;
  position: sticky;
  top: 0px;
  z-index: 1;
}

nav {
  padding: 10px;
  display: flex;
  align-items: center;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-bottom: 15px solid var(--primary-text-color);

  margin: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}

.arrow-down {
  margin: 5px;
  margin-bottom: 0px;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  
  border-top: 15px solid var(--primary-text-color);
  
  margin: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}


#calendar-container {
  position: relative;
}

.month {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--primary-bg-color);
  padding: 5px;
}

.lesson-month {
  position: absolute;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5px;
}

.lesson, .unit, .no-school {
  color: white;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 4px;
  margin-top: 40px;
  padding: 4px;
  padding-left: 10px;
  min-height: calc(20vh - 40px);
  width: auto;
}

.lesson {
  background-color: goldenrod;
  margin: 8px;
  margin-top: 70px;
  min-height: calc(20vh - 74px);
}

.no-school {
  background-color: var(--secondary-bg-color);
}

.unit {
  background-color: cornflowerblue;
}

@media screen and (min-width: 740px) {
  .month {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
  .lesson-month {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(5, minmax(100px, 1fr));
  }
}

.date {
  color: var(--light-text-color);
  border-right: 1px solid var(--light-bg-color);
  margin: 4px;
  padding: 8px;
}

.day-name {
  color: var(--light-text-color);
  margin: 8px;
  padding: 8px;
}

.day {
  min-height: 20vh;
  margin: 2px;
  border: 1px solid var(--light-bg-color);
}

.day h3 {
  margin: 0px;
  padding: 4px 0px;
  overflow: hidden;
  border-bottom: 1px solid var(--light-bg-color);
}

.day p {
  font-size: x-small;
  font-family: "Paragraph";
}