.jscode,
.htmlcode,
.csscode {
  margin: 0;
  color: rgb(72, 185, 255);
  background-color: white;
  padding: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font-size: larger;
}

pre.jscode,
pre.htmlcode,
pre.csscode {
  position: relative;
  border: 1px solid lightgray;
  padding: 10px;
}

pre.jscode::before,
pre.htmlcode::before,
pre.csscode::before {
  display: block;
  position: absolute;
  right: 4px;
  top: 0px;
  font-size: small;
}

pre.jscode::before {
  content: "JavaScript";
}

pre.htmlcode::before {
  content: "HTML";
}

pre.csscode::before {
  content: "CSS";
}

.jskeyword {
  color: rgb(58, 111, 211);
}

.jsoperator {
  color: rgb(87, 87, 87);
}

.jsbracket {
  color: rgb(255, 196, 0);
}

.jscontrol {
  color: blueviolet;
}

.jscomment {
  color: rgb(30, 122, 37)
}

.jsstring {
  color: rgb(158, 79, 22);
}

.jsnumber {
  color: rgb(255, 0, 0);
}

.jsfunction {
  color: rgb(243, 152, 33);
}

.htmlcode {
  color: white;
}

.htmlbracket {
  color: darkgray;
}

.htmlattrib {
  color: skyblue;
}

.htmltag {
  color: cornflowerblue;
}

.csscode {
  color: chocolate;
}

.cssselector {
  color: goldenrod;
}

.cssoperator {
  color: gainsboro;
}