.jscode, .htmlcode, .csscode {
  margin: 0;
  color: lightskyblue;
  background-color: var(--dark-bg-color);
  padding: 4px;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.jskeyword {
  color: cornflowerblue;
}

.jsoperator {
  color: white;
}

.jsbracket {
  color: gold;
}

.jscontrol {
  color: blueviolet;
}

.jscomment {
  color: limegreen;
}

.jsstring {
  color: rgb(255, 166, 103);
}

.jsnumber {
  color:lemonchiffon;
}

.jsfunction {
  color:khaki;
}

.htmlcode {
  color: white;
}

.htmlbracket {
  color:darkgray;
}

.htmlattrib {
  color:skyblue;
}

.htmltag {
  color: cornflowerblue;
}

.csscode {
  color:chocolate;
}

.cssselector {
  color:goldenrod;
}

.cssoperator {
  color:gainsboro;
}