@import url("base-styles.css");


#snap-screenshot {
  width: 100%;
  margin: 0px;
}

@media screen and (min-width: 768px) {
 #snap-screenshot {
  float: right;
  max-width: 40vw;
  margin-left: 8px;
 }
}