@import url("base-styles.css");


#snap-screenshot, #vscode-screenshot {
  width: 100%;
  margin: 0px;
}

@media screen and (min-width: 768px) {
 #snap-screenshot {
  float: right;
 }

 #snap-screenshot, #vscode-screenshot {
  max-width: 33vw;
  margin-left: 8px;
  margin-right: 8px;
 }
}