@import url("base-styles.css");


#hero-section {
    min-height: 100vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hero-section .button {
    opacity: 0%;
    animation-name: fade-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#title-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    min-height: 300px;
    margin: 0 auto;
}

#title-box h1 {
    font-size: 60px;
}

#title-box h1:after {
    content: "_";
    color: var(--light-text-color);
    opacity: 0%;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

#title-box h2 {
    color: var(--light-text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    opacity: 0%;
    animation-name: fade-in;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#news,
#news p {
    font-family: 'Paragraph', 'Courier New', Courier, monospace;
}

#news p, #news h3 {
    opacity: 0;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

#news p {
    color: var(--light-text-color);
    animation-delay: 500ms;
}

#news h3 {
    color: rgb(245, 212, 80);
    font-size: medium;
}

#news a {
    font-family: 'Paragraph', 'Courier New', Courier, monospace;
    text-decoration: underline;
    font-weight: bold;
}

#news {
    max-width: 75%;
    width: 75%;
    height: 130px;
    border: 1px solid var(--primary-text-color);
    background-color: rgb(20, 20, 20);
    border-radius: 8px;
    padding: 10px 20px;
    overflow-y: scroll;
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    opacity: 0%;
    animation-name: fade-in;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-duration: 1s;

}

/* Hide scrollbar for Chrome, Safari and Opera */
#news::-webkit-scrollbar {
    display: none;
}


#quick-link-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.quick-links {
    display: block;
    color: var(--secondary-bg-color);
    text-decoration: none;
    padding: 0 10px;
    border-bottom: 1px solid var(--primary-bg-color);
}

.quick-links:hover {
    border-bottom: 1px solid var(--secondary-bg-color);
}

.donate-links {
    display: block;
    color: var(--secondary-bg-color);
    border-bottom: 1px solid var(--primary-bg-color);
    text-decoration: none;
    min-width: 100px;
    text-align: center;
}

.donate-links:hover {
    border-bottom: 1px solid var(--secondary-bg-color);
}

.down-button {
    background-color: var(--primary-text-color);
    color: var(--primary-bg-color);
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

#nav-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.nav-link {
    display: block;
    text-decoration: none;
    font-size: 30px;
    height: 100%;
    padding: 0px 10px;
}

.nav-link:hover {
    background-color: var(--active-primary-bg-color);
}

.nav-link:after {
    content: "_";
    opacity: 0%;
    color: var(--light-text-color);
}

.nav-link:hover:after {
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
}

.anim-type-text {
    color: var(--medium-text-color);
    font-size: 18pt;
    pointer-events: none;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }

    10% {
        opacity: 100%;
    }

    40% {
        opacity: 100%;
    }

    80% {
        opacity: 0%;
    }
}