main {
  background-color: var(--primary-bg-color);
}

section, nav {
  border: 2px solid var(--secondary-text-color);
  padding: 10px;
  overflow: auto;
}

section h2, nav h2 {
  color: var(--light-text-color);
  border-bottom: 2px solid var(--primary-text-color);
  font-size: larger;
}

p {
  color: var(--light-text-color);
}

a {
  font-family: inherit;
  color: inherit;
}

.nav-list {
  font-size: larger;
}

.inline-image {
  max-width: 320px;
  margin: 8px;
  box-sizing: border-box;
}

@media screen and (min-width: 992px) {
  section {
    font-size: larger;
  }

  .nav-list {
    font-size: x-large;
  }

  section h2, nav h2 {
    font-size: x-large;
  }
}